.inputContainer {
  // background-color: aqua;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  button {
    height: fit-content;
  }
}

.custom-button {
  // width: 200px; /* Customize width */
  // height: 50px; /* Customize height */
  padding:5px 5px;
  border: 1px solid #37003c;;
  background-color: whitesmoke;
  cursor: pointer;
  color:#37003c;
  // font-size: 16px; /* Customize font size */
  font-weight: 1000; /* Make text bold */
  text-align: center;
  display: inline-block;
  // padding: 0;
}

.custom-button:focus {
  outline: none;
}

.custom-button:hover {
  opacity: 0.9; /* Add a hover effect */
}

.custom-button:active {
  transform: scale(0.98); /* Add a click effect */
}


@media(max-width:700px){
  .headerButtons{
    flex-direction: column !important;
    gap:3px;
  }
  .custom-button{
    padding:0
  }
}