.submitButton {
  display: block;
  border: 0px;
  border-radius: 3px;
  background-image: linear-gradient(
    to right,
    rgb(0, 255, 135),
    rgb(2, 239, 255)
  );
  color: rgb(55, 0, 60);
  font-family: PremierSans-Bold, Arial, "Helvetica Neue", Helvetica, sans-seriff;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px -4px;
  cursor: pointer;
}

.cancelButton {
  font-size: 1.2rem;
  background-color: rgb(192, 2, 13);
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px -4px;
  color: white;
  cursor: pointer;
}

dialog {
  height: 40%;
  width: 20%;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 180px, white 320px),
    url("../Icons/bgPattern.png"),
    linear-gradient(to right, rgb(2, 239, 255), rgb(98, 123, 255));
  background-size:
    auto,
    653px 925px,
    auto;
}
.inputContainer {
  // background-color: aqua;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  button {
    height: fit-content;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.labelContainer {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teamLabel {
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-decoration: underline;
  display: inline-block;
  margin: 0px 0.4rem 0.8rem 0px;
  cursor: pointer;
}

.teamidInput {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: normal;
  box-sizing: inherit;
  display: block;
  width: 100%;
  padding: 1.4rem 1rem;
  border: 0px;
  border-radius: 2px 2px 0px 0px;
  background-color: rgb(239, 239, 239);
  font-family: PremierSans-Regular, Arial, "Helvetica Neue", Helvetica,
    "sans-serif";
  font-size: 16px;
}
.teamidInput::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: block;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgb(2, 239, 255),
    rgb(150, 60, 255)
  );
}
